@page
@model ParkingManagementWebApp.Pages.Managers.ProfileModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<h4>Manager</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Manager.Username" />
            <div class="form-group">
                <label asp-for="Manager.Username" class="control-label"></label>
                <input disabled asp-for="Manager.Username" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Manager.Password" class="control-label"></label>
                <input asp-for="Manager.Password" class="form-control" />
                <span asp-validation-for="Manager.Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input disabled class="form-check-input" asp-for="Manager.Status" /> @Html.DisplayNameFor(model => model.Manager.Status)
                </label>
                <input hidden class="form-check-input" asp-for="Manager.Status" />
            </div>
            <div class="form-group">
                <label asp-for="Manager.Type" class="control-label"></label>
                <input disabled asp-for="Manager.Type" class="form-control" />
                <input hidden asp-for="Manager.Type" class="form-control" />
                <span asp-validation-for="Manager.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
