@page
@model ParkingManagementWebApp.Pages.ParkingInfos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ParkingInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ParkingInfo.ParkingInfoId" />
            <div class="form-group">
                <label asp-for="ParkingInfo.Ccid" class="control-label"></label>
                <select asp-for="ParkingInfo.Ccid" class="form-control" asp-items="ViewBag.Ccid"></select>
                <span asp-validation-for="ParkingInfo.Ccid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingInfo.VehicleId" class="control-label"></label>
                <select asp-for="ParkingInfo.VehicleId" class="form-control" asp-items="ViewBag.VehicleId"></select>
                <span asp-validation-for="ParkingInfo.VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingInfo.SlotId" class="control-label"></label>
                <select asp-for="ParkingInfo.SlotId" class="form-control" asp-items="ViewBag.SlotId"></select>
                <span asp-validation-for="ParkingInfo.SlotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingInfo.PricingId" class="control-label"></label>
                <select asp-for="ParkingInfo.PricingId" class="form-control" asp-items="ViewBag.PricingId"></select>
                <span asp-validation-for="ParkingInfo.PricingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingInfo.CheckInTime" class="control-label"></label>
                <input asp-for="ParkingInfo.CheckInTime" class="form-control" />
                <span asp-validation-for="ParkingInfo.CheckInTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingInfo.CheckOutTime" class="control-label"></label>
                <input asp-for="ParkingInfo.CheckOutTime" class="form-control" />
                <span asp-validation-for="ParkingInfo.CheckOutTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ParkingInfo.IsMonthly" /> @Html.DisplayNameFor(model => model.ParkingInfo.IsMonthly)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ParkingInfo.HaveVehicle" /> @Html.DisplayNameFor(model => model.ParkingInfo.HaveVehicle)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ParkingInfo.Status" class="control-label"></label>
                <input asp-for="ParkingInfo.Status" class="form-control" />
                <span asp-validation-for="ParkingInfo.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingInfo.TotalPrice" class="control-label"></label>
                <input asp-for="ParkingInfo.TotalPrice" class="form-control" />
                <span asp-validation-for="ParkingInfo.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
