@using BusinessObject.BusinessModels
@using ParkingManagementWebApp.Constants
@using BusinessObject.Models
@using ParkingManagementWebApp.Ultilities;
@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
@{
    UserInformation userInformation = SessionHelper
                                                    .GetFromSession<UserInformation>(Context.Session,
                                                        SessionValue.Authentication);
    bool isStaff = (userInformation != null) ? (userInformation.IsStaff) : false;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ParkingManagementWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-page="/Index"><img style="width:49px; height:37px;" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/291622158_617024723087931_5679930110818448097_n.jpg?stp=dst-jpg_s320x320&_nc_cat=106&ccb=1-7&_nc_sid=aee45a&_nc_ohc=QUk2YU8c_NUAX8t6KVC&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVKusEp4cvssFQxSPaYTuAeCaIXL4fnDBEnDC52vLYmStA&oe=62F39865"> ParkingHub</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (isStaff)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Slots/Index" asp-route-id=1>Slots</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/ParkingInfos/Index">Parking Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Vehicles/Index">Vehicles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Pricings/Index">Pricings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Users/Index">Users</a>
                            </li>
                            @if (userInformation.ManagerType.Equals("Admin") == true)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Managers/Index">Managers</a>
                                </li>
                            }

                        }
                        @if (!isStaff)
                        {

                        }
                        @if (!isStaff && userInformation != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/ParkingInfos/Booking">Booking</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Vehicles/Index">Your Vehicles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/ParkingInfos/History">Your Parking History</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="d-flex flex-row justify-content-end">
                    <ul class="navbar-nav flex-grow-1">
                        @switch (userInformation)
                        {
                            case null:
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Accounts/Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Accounts/Register">Register</a>
                                </li>
                                break;
                            default:
                                @if (userInformation.IsStaff == true)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-page="/Managers/Profile" asp-route-id="@userInformation.UserId">Profile</a>
                                    </li>
                                }
                                @if (userInformation.IsStaff == false)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-page="/Users/Profile" asp-route-id="@userInformation.UserId">Profile</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Accounts/Logout">Logout</a>
                                </li>
                                break;
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container text-white">
            &copy; 2022 - PMS - <a class="text-white" asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
