@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="row">
    <img class="center-block" style="width: 350px; height: 300px;" src="https://static.vecteezy.com/system/resources/previews/003/694/243/original/car-icon-in-flat-style-simple-traffic-icon-free-vector.jpg">
</div>
<div class="row">
    <img style="width: 45%; height: 50px;" src="https://thumbs.dreamstime.com/b/straight-line-stripe-series-thin-to-thick-%E2%80%94-stock-vector-illustration-clip-art-graphics-214477626.jpg">
    <div style="width: 10%">
        <img style="width: 50px; height: 50px; margin-left:35px; margin-right:35px;" src="http://cdn.onlinewebfonts.com/svg/img_307276.png">
    </div>
    <img style="width: 45%; height: 50px;" src="https://thumbs.dreamstime.com/b/straight-line-stripe-series-thin-to-thick-%E2%80%94-stock-vector-illustration-clip-art-graphics-214477626.jpg">
</div>
    
<div class="text-center">
    <h1 class="display-4 pt-5">Welcome</h1>
    <h1 class="display-4">Parking Management System</h1>
    <h5>Ready for your parking needs</h5>
</div>
